@* Aseprite project partial *@
<link rel="stylesheet" href="css/project.css" />
<div class="project">
    <h3>Aseprite</h3>
    <div class="project-grid">
        <img class="project-display-img" src="@Url.Content("~/images/projects/aseprite-boats.png")" alt="Boat design in Aseprite"> 
        <div class="project-text">
            <p>Im a newbie in Aseprite, but it's a lot of fun and I expect to continue exploring and honing my abilities in pixel drawing, both in a creative extent, and a functional goal oriented extent.</p>
            <br>
            <p>You can check it out it's current state here:</p>
            <p><a href="https://giantmushy.itch.io/guns-gods-galleons" target="_blank">https://giantmushy.itch.io/guns-gods-galleons</a></p>
        </div>
    </div>
    <br>
    <div class="project-grid">
        <img class="project-display-img" src="@Url.Content("~/images/projects/aseprite-jarls.png")" alt="Cult of the Jarls gameplay"> 
        <img class="project-display-img" src="@Url.Content("~/images/projects/aseprite-tileset.png")" alt="Cult of the Jarls gameplay"> 
    </div>
</div>