@* CarGame3D project partial *@
<link rel="stylesheet" href="css/project.css" />
<div class="project">
    <h3>Naascar 3D</h3>
    <img class="project-display-img solo-image" src="@Url.Content("~/images/gifs/CarGame_3D.gif")" alt="3D Car Game gameplay gif"> 
    <div class="project-grid">
        <img class="project-display-img" src="@Url.Content("~/images/gifs/CarGame_3D_DfsAlgorithm.gif")" alt="3D Car Game dfs gif"> 
        <div class="project-text">
            <p>The Second project in this course was a 3D game. I had to recreate the engine, but decided to continue with the racing idea, and thus Naascar 3D was born. This time implementing a ghost car that drives smoothly through the course with the player using Bezier curve calculations. I also created a DFS algorithm to auto-generate a new track for every game. Im increadibly proud of this one, although the lighting could be a bit better.</p>
        </div>
    </div>
</div>