@* Cult of the Jarls project partial *@
<link rel="stylesheet" href="css/project.css" />
<div class="project">
    <h3>Cult of the Jarls</h3>
    <div class="project-grid">
        <div class="project-text">
            <p>I began working on Cult of the Jarls immediately after the 3 week course had concluded. This is by all means the most fun thing I have ever had the pleasure of doing. I spend every free minute I have developing this game, along side my studies. Im also drawing everything myself in Aseprite, and won’t download or generate anything that touches this project. Currently looking for a sound designer hmu :3</p>
            <br>
            <p>You can check it out it's current state here:</p>
            <p><a href="https://giantmushy.itch.io/guns-gods-galleons" target="_blank">https://giantmushy.itch.io/guns-gods-galleons</a></p>
        </div>
        <img class="project-display-img" src="@Url.Content("~/images/projects/TLJ-bigPicture.png")" alt="Cult of the Jarls gameplay"> 
    </div>
</div>