@* Fellow Pirates project partial *@
<div class="project">
    <h3 class="project-title">Fellow Pirates</h3>
    <div class="project-grid">
        <img class="project-display-img" src="@Url.Content("~/images/projects/FellowPirates.png")" alt="Fellow Pirates gameplay"> 
        <div class="project-text">
            <p>Fellow Pirates was my first introduction to the Unity game engine. This project was developed in collaboration with 3 other students over the course of 3 weeks for a videogame design course I took in December 2025. I largely managed the project, and designed both the structure of the codebase, and the layout of the overworld in the game.</p>
            <br>
            <p>You can check it out on <a href="https://evarut.itch.io/fellow-pirates" target="_blank">evarut.itch.io/fellow-pirates</a></p>
        </div>
    </div>
    <div class="project-gallery">
        <img class="project-display-img" src="@Url.Content("~/images/projects/FP-VictoryScreen.png")" alt="Fellow Pirates victory screen">
        <img class="project-display-img" src="@Url.Content("~/images/projects/FP_Blackbeard.gif")" alt="Fellow Pirates Blackbeard">
    </div>
</div>