@* Kóði project partial *@
<link rel="stylesheet" href="css/project.css" />
<div class="project">
    <h3>Hluthafaskrá</h3>
    <img class="project-display-img solo-image" src="@Url.Content("~/images/projects/Hluthafaskra-forntPage.png")" alt="NanAir Project Image"> 
    <div class="project-grid" id="project-kodi">
        <img class="project-display-img" src="@Url.Content("~/images/projects/kodi-logo.png")" alt="NanAir Project Image"> 
        <div class="project-text">
            <p>From January -> August of 2025 I worked for Kóði ehf., assisting with the development of Hluthafaskrá.is. I learned a lot about web development during the 8 months I worked there, most of which was spent on adding new features for their shareholder meeting software. I got to spend time implementing both the frontend and backend of the features that I was implementing, allowing me to get pretty good at SQL, C#, HTML/CSS, and the .Net/Razor based framework.</p>
            <p>I was able to utilize the skills I gained from this position to create the very website you are currently on :)</p>
        </div>
    </div>
</div>