@* NanAir project partial *@
<link rel="stylesheet" href="css/project.css" />
<div class="project">
    <h3>NanAir</h3>
    <img class="project-display-img solo-image" src="@Url.Content("~/images/projects/NanAir.png")" alt="NanAir Project Image"> 
    <div class="project-text solo-txt">
        <p>My first ever programming project was NanAir. Made entirely in Python with no additional imports, this was an airline database manager where you can create, delete, edit and store all the data an airline may need. This included data about employees, air planes, pilots, destinations, flight schedules and more. To this day I am incredibly proud of this project, as it was the only hand in that got a perfect score that semester (out of 200+ students). This took me 3 weeks to complete, in collaboration with 3 other students. I was solely in charge of the GUI, both for design and implementation of it, while another student focused on the backend, and the other 2 were bug-testing.</p>
        <br>
        <p>The codebase is accessible on my github.</p>
    </div>
</div>