@* Nestor project partial *@
<link rel="stylesheet" href="css/project.css" />
<div class="project">
    <h3>Nestor</h3>
    <div class="project-grid">
        <img class="project-display-img" src="@Url.Content("~/images/projects/Nestor-frontPage.png")" alt="Nestor: front page"> 
        <div class="project-text">
            <p>In the spring of 2024 I took a class in Web programming (which I am currently a TA for). Nestor was a group project I completed with 3 other students using Django in Pycharm. The assignment was to create a job listings and applications website, both usable by employers looking for employees and employees looking for work. I was in charge of general structure and design of the site, as well as implementing the Virtual CV section and the application process. I remembered it being a lot sleeker looking than it actualy is, but for a first attempt, I think it's pretty good :)</p>
        </div>
    </div>
    <div class="project-grid">
        <div id="nestor-logo-and-text">
            <div class="project-text">
                <p>I also designed the logo! Since this was a job applications website (exactly like Alfred.is), we decided to have fun and make a sillier version of their logo. Also, Alfred is known as Batman’s butler, but much more famously, TinTin's butler's name is Nestor. We like to have fun here.</p>
            </div>
            <img class="project-display-img nestor-logo" src="@Url.Content("~/images/projects/Nestor-logo.png")" alt="Nestor: Logo">
        </div>
        <img class="project-display-img" src="@Url.Content("~/images/projects/Nestor-VCV.png")" alt="Nestor: Virtual Cv">
    </div>
</div>