@* Teaching GSKI project partial *@
<link rel="stylesheet" href="css/project.css" />
<div class="project">
    <h3>Gagnaskipan</h3>
    <div class="project-text solo-txt">
        <p>Hello World</p>
    </div>
</div>