@* Teaching GSKI project partial *@
<link rel="stylesheet" href="css/project.css" />
<div class="project">
    <h3>Háskólinn í Reykjavík</h3>
    <div class="project-text">
        <p>Since January 2025, I have been TA alongside my studies at Reykjavik University. What started as a side-gig has turned into an incredibly fruitful and inspiring venture. Teaching has given me valuable insight into my own learning technics and shown me the value of not only helping others, but of receiving help when you need it. I have struggled in the past with asking for help, preferring to just muscle my way through anything I might be struggling with alone. But being a teacher, and seeing students struggle in that very same way, has shown me the flaw in that way of thinking. Being able to help others get past this mindset has allowed me do the exact same. And getting them to engage with the material is one of the most enjoyable things I currently get to experience in life.</p>
        <br>
        <p>Note to self: Get pictures of me teaching</p>
    </div>
</div>