@* Wordle project partial *@
<link rel="stylesheet" href="css/project.css" />
<div class="project">
    <h3>Wordle</h3>
    <div class="project-grid">
        <img class="project-display-img" src="@Url.Content("~/images/projects/NanAir.png")" alt="NanAir Project Image"> 
        <div class="project-text">
            <p>Hello World</p>
        </div>
    </div>
</div>