@* Header partial *@
<link rel="stylesheet" href="/css/header.css" />
<div class="site-header">
    <div class="header-inner">
        <h2 class="brand">Thor's Portfolio</h2>
        <nav class="nav-tabs">
            <a href="/" class="tab">Home</a>
            <a href="/Home/Privacy" class="tab">About</a>
            <a href="/Education" class="tab">Skills</a>
            <a href="/Test" class="tab">Contact</a>
            <a href="#" class="tab">CV</a>
        </nav>
    </div>
</div>
