@* Header partial *@
<div class="site-header">
    <div class="header-inner">
        <div class="brand">Thor's Portfolio</div>
        <nav class="nav-tabs">
            <a href="/" class="tab">Home</a>
            <a href="#" class="tab">About</a>
            <a href="#" class="tab">Skills</a>
            <a href="#" class="tab">Contact</a>
            <a href="#" class="tab">CV</a>
        </nav>
    </div>
    
</div>
