@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <partial name="Header" />
    <div id="main-body" style="display: block;">
        <partial name="Body" />
    </div>
    <div id="journey-body" style="display: none;">
        <partial name="MyJourneyBody" />
    </div>
    <partial name="Footer" />
    
    <script>
        function showMyJourney() {
            document.getElementById('main-body').style.display = 'none';
            document.getElementById('journey-body').style.display = 'block';
        }
        
        function showHome() {
            document.getElementById('main-body').style.display = 'block';
            document.getElementById('journey-body').style.display = 'none';
        }
    </script>
</body>
</html>
